[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
gunicorn = "==21.2.0"
djangorestframework = "==3.14.0"
python-decouple = "==3.8"
whitenoise = "==6.6.0"
psycopg2-binary = "==2.9.9"

[dev-packages]
ipdb = "==0.13.7"
pre-commit = "==2.12.1"

[requires]
python_version = "3.11"
